.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 40px;
  font-weight: 500;
  background: #f7f7f7;
  &-icon {
    position: relative;
    width: 40px;
    height: 40px;
    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/cart.svg);
      background-position: center center;
      background-size: contain;
    }
  }
  &-title {
    font-size: 15px;
  }
  &-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 100%;
    background-color: #ffda33;
  }
}