.catalog {
  &-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 30px;
  }
  &-item {
    padding: 10px;
    width: 250px;
    border: 1px solid #ededed;
    transition: all 0.4s;
    &:hover {
      border: 1px solid #ffda33;
      cursor: pointer;
    }
    &:hover .item-cart {
      background-color: #ffda33;
      cursor: pointer;
    }
  }
  .item-img {
    width: 100%;
    height: 230px;
  }
  .item-name {
    margin: 10px 0 10px 0;
    font-family: 'Poppins', sans-serif;
  }
  .item-inner {
    margin-left: 10px;
    display: flex;
    gap: 7px;
    font-size: 13px;
    font-weight: 300;
  }
  .item-price {
    margin: 10px 0 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
}
.item-cart {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  background: #f7f7f7;
  font-weight: 500;
  border: none;
  transition: all 0.4s;
}