.catalog {
  &-sorting {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 240px;
    height: 32px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #ededed;
    background: #f7f7f7;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0 0 3px rgba(163, 163, 163, 0.5);
      cursor: pointer;
    }
  }
}
.sorting-list {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  width: 240px;
  list-style-type: none;
  border: 1px solid #ededed;
  background: #f7f7f7;
  transition: all 0.6s;
}
.list-item {
  padding: 7px;
  border: 1px solid #ededed;
}