.filters {
  &-range {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #ededed;
    &-input {
      padding: 5px;
      width: 35%;
      font-size: 0.9rem;
      text-align: center;
      color: #333;
      border: 1px solid #333;
      &:focus {
        outline: none;
      }
    }
  }
  &-range-slider {
    margin-top: 30px;
    padding: 0 10px;
    height: 4px;
    background-color: #ededed;
    border: none;
    border-radius: 0;
  }
}
.noUi-connect {
  background-color: #ffda33;
}
.noUi-horizontal .noUi-handle {
  top: -13px;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
.noUi-handle::after, .noUi-handle::before {
  display: none;
}
.noUi-handle::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  border: 6px solid #333;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}